/* @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Shrikhand&display=swap");

:root {
  /* --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Lora", serif; */

  --ff-primary: "Shrikhand", cursive;
  --ff-secondary: "Righteous", cursive;
}

.ff-primary {
  font-family: var(--ff-primary);
}

.ff-secondary {
  font-family: var(--ff-secondary);
}

.container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* .gradient {
  background-image: linear-gradient(
    rgb(255, 28, 247) 25%,
    rgb(178, 73, 248) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
} */

.gradient {
  background-image: linear-gradient(
    rgb(255, 28, 247) 5%,
    rgb(253, 132, 31) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.gradient-bg {
  background-image: linear-gradient(
    rgb(255, 28, 247) 5%,
    rgb(253, 132, 31) 100%
  );
  color: #eaeaea;
  background-repeat: no-repeat;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
